{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "jsx-pragmatic",
      {
        "module": "preact",
        "export": "h",
        "import": "h"
      }
    ]
  ]
}
